In [1]:
print("hello")

hello

In [3]:
num = input("Enter a number:")
num = int(num)
if num%2 == 0 :
    print("Even Number")
else:
    print("Odd Number")

Enter a number: 6

Even Number

In [4]:
indian = ["biryani", "samosa", "rasgulla"]
italian = ["pasta", "pizza", "risotto"]
chinese = ["nudles", "fried-rice", "manchurian"]
dish = input("Enter a dish name:")
if dish in indian:
    print("indian")
elif dish in chinese:
    print("chinese")
elif dish in italian:
    print("italian")
else:
    print("Not in the list")

Enter a dish name: biryani

indian

In [5]:
expenditure = [2340, 2500, 2100,3100,2980]
total = 0
for item in expenditure:
    total = total + item
print(total)

13020

In [10]:
expenditure = [2340, 2500, 2100,3100,2980]
for item in range(len(expenditure)):
    print("Month:", (item +1), "Expenses:", expenditure[item])
    total = total + expenditure[item]
print("Total Expenses:", total)

Month: 1 Expenses: 2340
Month: 2 Expenses: 2500
Month: 3 Expenses: 2100
Month: 4 Expenses: 3100
Month: 5 Expenses: 2980
Total Expenses: 39060

In [14]:
key_location = "chair"
location = ["garage", "drawing_room", "chair", "closet"]
for i in location:
    if i == key_location:
      print("key is found:", i)
      break
    else:
        print("key is not found")

key is not found
key is not found
key is found: chair

In [15]:
for i in range(1,6):
    if i%2 == 0:
        continue
    print(i*i)

1
9
25

In [1]:
i = 1
while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [4]:
def caluculate_total(exp):
 total = 0
 for item in exp:
    total = total + item
 return total

toms_exp_list = [2100,3400,3500]
joes_exp_list = [200,500,700]

toms_total = caluculate_total(toms_exp_list)
joes_total = caluculate_total(joes_exp_list)

print("Tom's total expenses:", toms_total)
print("Joe's total expenses:", joes_total)

Tom's total expenses: 9000
Joe's total expenses: 1400